/checkup-pig/target/
/checkup-storm/target/
/checkup-lenskit/target/
/checkup-mahout/target/
/checkup-spark/target/
/checkup-hadoop/target/
/checkup-giraph/target/
/checkup-odps/target/
/checkup-tez/target/
/target/
/checkup-lucene/target/