<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:lang="http://www.springframework.org/schema/lang"
        xmlns:hadoop="http://www.springframework.org/schema/hadoop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.0.xsd
          http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop-2.0.xsd
">
    <context:property-placeholder location="local.properties" />
     
    <hadoop:configuration>
	  fs.default.name=${fs.default.name}
	  
    </hadoop:configuration>      
    
   <hadoop:job id="wordcountJob"
 input-path="${wordcount.input.path}"
 output-path="${wordcount.output.path}"
 mapper="org.apache.hadoop.examples.WordCount.TokenizerMapper"
 reducer="org.apache.hadoop.examples.WordCount.IntSumReducer" />
   
<hadoop:script id="setupScript" location="script/copy-files.groovy">
   
 <hadoop:property name="localSourceFile" value="${localSourceFile}"/>
 <hadoop:property name="inputDir" value="${wordcount.input.path}"/>
 <hadoop:property name="outputDir" value="${wordcount.output.path}"/>
</hadoop:script>
   
    <hadoop:job-runner id="runner" job-ref="wordcountJob"  run-at-startup="true" />
        
            
</beans>
